.content {
    display: flex;
    justify-content: center;
}

h2 {
    margin-top: 100px;
}

table {
    border-collapse: collapse;
    margin-top: 100px;
}

th, td {
    border: solid thin grey;
    padding: 14px;
}

button {
    margin: 6px;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 20px;
    height: 40px;
    width: 70px;
}

.btn-update {
    background: green;
    
}

.btn-delete {
    background: rgb(245, 7, 7);
}

.form {
    margin-top: 100px;
}

.form label, input {
    margin: 4px;
}

.form-submit-button input {
    background: green;
    border: none;
    height: 40px;
    width: 70px;
    border-radius: 20px;
    color: white;
}